@layer base {
  * {
    box-sizing: border-box;
  }

  html.dark .shiki,
  html.dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }

  html,
  body,
  #root {
    @apply ctp-latte m-0 min-h-dvh scroll-pt-32 bg-ctp-base p-0 text-ctp-text motion-safe:[scroll-behavior:_smooth] dark:ctp-mocha md:scroll-pt-24 dark:bg-ctp-midnight;
  }

  a {
    @apply link-color-trans text-ctp-mauve hover:text-ctp-pink hover:underline aria-[current]:text-ctp-pink aria-[current]:underline;
  }

  canvas {
    opacity: 0;
    @apply animate-fade-in;
  }
}
