build/*
dist/*
public/*
.next/*
node_modules/*
.open-next/*
.contentlayer/*
.versionvault/*
package.json
*.log
*.vert
*.frag
drizzle/meta/*
.tmp/*
.vercel/*
.wrangler/*
.contentlayermini/*
.contentlayerplushtml/*
.content-collections/*
.content-collection-plus-html/*
sst-env.d.ts
.turbo/*
.source/*
