# secrets
*.local
.env
.cache

# misc
.DS_Store
.vscode
tmp.txt
.tmp_dir/
.tmp/

# debug
*.log

# node.js
node_modules

# next.js
.next

# turborepo
.turbo

# output
dist
dist-ssr
server/dist
public/dist
**/public/feed.xml
**/public/tests
**/public/assets/images
# Serwist
**/public/sw*
**/public/swe-worker*
certificates/

**/content/assets/data/

# wrangler / @cloudflare/next-on-pages
.wrangler
.vercel
secrets.env

# sst
.sst
.open-next

# contentlayer
.contentlayer
.content-collections
.content-collections-plus-html
.source

# patched contentlayer outputs
contentlayermini
.contentlayermini
.contentlayerplushtml

# eslint
.eslintcache

#version vault
.versionvault
.backup
