.DS_Store
.vscode
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
**/public/tests
**/public/assets/images/featured
**/public/assets/images/oc
**/public/assets/images/blog
**/public/sw.js
**/public/feed.xml
**/public/assets/images/projects
# wrangler / @cloudflare/next-on-pages
.wrangler
.vercel
secrets.env
# sst
.sst
.open-next
# contentlayer
.contentlayer
# contentlayermini
contentlayermini
.contentlayermini
# eslint
.eslintcache
#version vault
.versionvault
.backup
