# secrets
*.local
.env
.cache

# server output
server

# tmp
archive/

dist
dist-ssr
.nitro
.tanstack
.output
.vinxi
__unconfig*
todos.json

*storybook.log
storybook-static

.dev.vars*
!.dev.vars.example
!.env.example


# misc
.DS_Store
.vscode
tmp.txt
.tmp_dir/
.tmp/

# debug
*.log

# node.js
node_modules

# next.js
.next

# turborepo
.turbo

# output
dist
dist-ssr
server/dist
public/dist
**/public/feed.xml
**/public/tests
**/public/assets/images
# Serwist
**/public/sw*
**/public/swe-worker*
certificates/
.content_test/
**/content/assets/data/

# wrangler / @cloudflare/next-on-pages
.wrangler
.vercel
secrets.env

delete-pages.sh

# sst
.sst
.open-next

# contentlayer
.contentlayer
.content-collections
.content-collections-plus-html
.source

# patched contentlayer outputs
contentlayermini
.contentlayermini
.contentlayerplushtml

# eslint
.eslintcache

#version vault
.versionvault
.backup
.content/
