@import 'tailwindcss';
@plugin "@iconify/tailwind4";
@plugin "@catppuccin/tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-ctp-rosewater: rgba(var(--ctp-rosewater));
  --color-ctp-flamingo: rgba(var(--ctp-flamingo));
  --color-ctp-pink: rgba(var(--ctp-pink));
  --color-ctp-mauve: rgba(var(--ctp-mauve));
  --color-ctp-red: rgba(var(--ctp-red));
  --color-ctp-maroon: rgba(var(--ctp-maroon));
  --color-ctp-peach: rgba(var(--ctp-peach));
  --color-ctp-yellow: rgba(var(--ctp-yellow));
  --color-ctp-green: rgba(var(--ctp-green));
  --color-ctp-teal: rgba(var(--ctp-teal));
  --color-ctp-sky: rgba(var(--ctp-sky));
  --color-ctp-sapphire: rgba(var(--ctp-sapphire));
  --color-ctp-blue: rgba(var(--ctp-blue));
  --color-ctp-lavender: rgba(var(--ctp-lavender));
  --color-ctp-text: rgba(var(--ctp-text));
  --color-ctp-subtext1: rgba(var(--ctp-subtext1));
  --color-ctp-subtext0: rgba(var(--ctp-subtext0));
  --color-ctp-overlay2: rgba(var(--ctp-overlay2));
  --color-ctp-overlay1: rgba(var(--ctp-overlay1));
  --color-ctp-overlay0: rgba(var(--ctp-overlay0));
  --color-ctp-surface2: rgba(var(--ctp-surface2));
  --color-ctp-surface1: rgba(var(--ctp-surface1));
  --color-ctp-surface0: rgba(var(--ctp-surface0));
  --color-ctp-base: rgba(var(--ctp-base));
  --color-ctp-mantle: rgba(var(--ctp-mantle));
  --color-ctp-crust: rgba(var(--ctp-crust));
  --color-ctp-midnight: #07070d;
}

@theme {
  --font-sans: var(--font-inter-tight), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: var(--font-zeroxproto), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --animate-fade-in: fade-in 0.8s ease forwards;
  --animate-fade-in-up: fade-in-up 0.2s ease 1s forwards;
  --animate-fade-in-up-2: fade-in-up 0.5s ease forwards;
  --animate-fade-in-down: fade-in-down 1s ease 1s forwards;
  --animate-marquee: marquee 5s linear infinite;
  --animate-upDog: upDog 1.5s ease 1s forwards;
  --animate-test-iv: test-iv 8s ease forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translate3d(0rem, 1rem, 0rem);
    }
    100% {
      opacity: 1;
      transform: translate3d(0rem;0rem, 0rem);
    }
  }
  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translate3d(0rem, -100%, 0rem);
    }
    100% {
      opacity: 1;
      transform: translate3d(0rem, 0rem, 0rem);
    }
  }
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
  @keyframes upDog {
    0% {
      transform: translateY(140%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes test-iv {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
}

@layer base {
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  canvas {
    @apply animate-fade-in;
  }

  a {
    @apply link-color-trans text-ctp-mauve hover:text-ctp-pink hover:underline aria-[current]:text-ctp-pink aria-[current]:underline;
  }

  @media (prefers-reduced-motion) {
    .link-color-trans,
    .simple-color-trans,
    .color-trans-2,
    .s-slider,
    .s-slider button,
    .s-slider button:hover,
    .s-slider button::before,
    .s-slider button[aria-checked='true'],
    .s-slider button[aria-checked='true']:hover,
    .s-slider button[aria-checked='true']::before {
      transition: all 0s;
    }
  }

  [details-warn] {
    @apply unified-style border-ctp-peach bg-ctp-peach/5 dark:border-ctp-yellow dark:bg-ctp-yellow/5 dark:text-ctp-yellow;
  }

  [details-critical] {
    @apply unified-style border-ctp-red bg-ctp-red/10 dark:bg-ctp-red/5 dark:text-ctp-red;
  }

  details {
    @apply unified-info-style;
  }

  details > summary {
    @apply font-mono font-black;
  }

  :where(details p) strong {
    @apply !font-black !text-inherit;
  }

  :where(details p, details summary, details ul li, aside p) code {
    @apply !border-none !bg-inherit !text-sm !font-black !italic !text-inherit;
  }

  aside {
    @apply unified-info-style;
  }
  .sr-only {
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
  }
  #footnote-label {
    overflow: hidden;
    width: 100%;
    height: 1px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: var(--footnote-divider-line);
  }

  div.code-line:empty {
    /* it is necessary because there is no even eol character in div code-lines 
    height: 15.5938px calculated height
    */
  }
  span.code-line {
    min-width: 100%;
    display: inline-block;
  }
  .code-line {
    padding-left: 12px;
    padding-right: calc(4rem + 12px);
    margin-left: -12px;
    margin-right: calc(-4rem - 12px);
    border-left: 4px solid transparent /* prepare for highlighted code-lines */;
  }
  .code-line.inserted {
    background-color: var(--code-line-inserted) /* inserted code-line (+) color */;
  }
  .code-line.deleted {
    background-color: var(--code-line-deleted) /* deleted code-line (-) color */;
  }
  .highlighted-code-line {
    background-color: var(--code-line-highlighted);
    border-left: 4px solid var(--code-line-highlight-indicator);
  }
  .numbered-code-line::before {
    content: attr(data-line-number);
    margin-left: -8px;
    margin-right: 16px;
    padding-right: 1ch;
    padding-left: 3ch /* Note: assumes codeblock < 1000 lines */;
    border-right: 0.05rem solid var(--code-line-border);
    width: 1rem;
    color: var(--code-line-number);
    display: inline-flex;
    justify-content: end;
  }
}

@layer components {
  .footer-nav-item {
    @apply text-base capitalize text-ctp-subtext1 aria-[current]:text-ctp-pink aria-[current]:underline;
  }

  .layout01 {
    @apply pt-[4rem];
  }
}

@utility link-color-trans {
  transition: color 0.38s;
}

@utility color-trans-quick {
  transition:
    color 0.38s,
    background-color 0.38s;
}

@utility simple-color-trans {
  transition:
    background 0.7s,
    background-image 0.7s,
    background-color 0.7s,
    border 0.5s;
}

@utility color-trans-2 {
  transition:
    background-color 0.7s,
    border 0.5s,
    color 0.5s,
    box-shadow 0.5s;
}

@utility color-trans-2-quick {
  transition:
    background-color 0.38s,
    border 0.38s,
    color 0.38s,
    box-shadow 0.38s;
}

@utility s-slider {
  display: flex;
  align-items: center;
}

@utility s-slider {
  button {
    transition:
      border 0.5s,
      background 1s,
      box-shadow 0.5s;
  }
}

@utility s-slider {
  button:hover {
    border: 1px solid #000;
    box-shadow: 0 0 8px #000;
    transition: all 0.5s;
  }
}

@utility s-slider {
  button::before {
    content: '';
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%235c5f77' d='M120 40v-8a8 8 0 0 1 16 0v8a8 8 0 0 1-16 0m8 24a64 64 0 1 0 64 64a64.07 64.07 0 0 0-64-64m-69.66 5.66a8 8 0 0 0 11.32-11.32l-8-8a8 8 0 0 0-11.32 11.32Zm0 116.68l-8 8a8 8 0 0 0 11.32 11.32l8-8a8 8 0 0 0-11.32-11.32M192 72a8 8 0 0 0 5.66-2.34l8-8a8 8 0 0 0-11.32-11.32l-8 8A8 8 0 0 0 192 72m5.66 114.34a8 8 0 0 0-11.32 11.32l8 8a8 8 0 0 0 11.32-11.32ZM40 120h-8a8 8 0 0 0 0 16h8a8 8 0 0 0 0-16m88 88a8 8 0 0 0-8 8v8a8 8 0 0 0 16 0v-8a8 8 0 0 0-8-8m96-88h-8a8 8 0 0 0 0 16h8a8 8 0 0 0 0-16'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 50% 50%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 1.1rem;
    transition:
      transform 0.3s,
      background-color 1s;
    border-radius: 100%;
  }
}

@utility s-slider {
  button[aria-checked='true'] {
    transition: all 0.5s;
  }
}

@utility s-slider {
  button[aria-checked='true']:hover {
    border: 1px solid #fff;
    box-shadow: 0 0 8px #fff;
    transition: all 0.38s;
  }
}

@utility s-slider {
  button[aria-checked='true']::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 256 256'%3E%3Cpath fill='rgba(186, 194, 222)' d='M238 96a6 6 0 0 1-6 6h-18v18a6 6 0 0 1-12 0v-18h-18a6 6 0 0 1 0-12h18V72a6 6 0 0 1 12 0v18h18a6 6 0 0 1 6 6m-94-42h10v10a6 6 0 0 0 12 0V54h10a6 6 0 0 0 0-12h-10V32a6 6 0 0 0-12 0v10h-10a6 6 0 0 0 0 12m71.25 100.28a6 6 0 0 1 1.07 6A94 94 0 1 1 95.76 39.68a6 6 0 0 1 7.94 6.79A90.11 90.11 0 0 0 192 154a90.9 90.9 0 0 0 17.53-1.7a6 6 0 0 1 5.72 1.98m-14.37 11.34q-4.42.38-8.88.38A102.12 102.12 0 0 1 90 64q0-4.45.38-8.88a82 82 0 1 0 110.5 110.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: 50% 50%;
    transform: translateX(1.1rem);
    transition:
      transform 0.3s,
      background-color 1s;
  }
}

@utility px-page-common {
  @apply px-2 md:px-6;
}
@utility py-common-info-page {
  @apply py-12;
}
@utility pt-post-page {
  @apply pt-24 md:pt-12;
}
@utility pt-blog {
  @apply pt-4 md:pt-12;
}
@utility pt-common {
  @apply pt-12;
}
@utility pb-common {
  @apply pb-12;
}
@utility common-padding {
  @apply pt-common px-page-common pb-common;
}
@utility padding-post {
  @apply px-10;
}

@utility unified-text {
  @apply text-sm;
}
@utility unified-style {
  @apply unified-text my-6 block space-y-6 rounded-lg border p-6 font-mono shadow-lg;
}
@utility unified-info-style {
  @apply unified-style border-ctp-blue bg-ctp-blue/10 dark:border-ctp-sky dark:bg-ctp-sky/5 dark:text-ctp-sky;
}

@utility prose {

  blockquote {
    p:first-of-type::before {
      display: none;
    }
    p:first-of-type::after {
      display: none;
    }
  }
  aside {
    :is(h2, h3, h4, h5, h6) {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  h1 {
    a {
      font-weight: 900;
    }
  }
  h2 {
    a {
      font-weight: 900;
    }
  }
  h3 {
    a {
      font-weight: 900;
    }
  }
  h4 {
    a {
      font-weight: 900;
    }
  }
  h5 {
    a {
      font-weight: 900;
    }
  }
  del {
    color: var(--tw-prose-del);
    a {
      color: var(--tw-prose-del-links);
    }
    code {
      color: var(--tw-prose-del-code);
    }
    strong {
      color: var(--tw-prose-del-strong);
    }
  }

  pre {
    overflow-x: auto;
  }
  pre > code {
    float: left;
    min-width: 100%;
    padding-right: 4rem;
  }
}

@utility prose-invert {
  --tw-prose-del: var(--tw-prose-invert-del);
  --tw-prose-del-links: var(--tw-prose-invert-del-links);
  --tw-prose-del-code: var(--tw-prose-invert-del-code);
  --tw-prose-del-strong: var(--tw-prose-invert-del-strong);
  --code-line-inserted: var(--invert-code-line-inserted);
  --code-line-deleted: var(--invert-code-line-deleted);
  --code-line-highlighted: var(--code-line-invert-highlighted);
}

@utility prose-catppuccin {
  --footnote-divider-line: var(colors.ctp-text.DEFAULT),
  --code-line-highlighted: var(colors.ctp-mantle.DEFAULT),
  --code-line-invert-highlighted: var(colors.ctp-surface0.DEFAULT),
  --code-line-highlight-indicator: var(colors.ctp-sapphire.DEFAULT),
  --code-line-inserted: rgba(64, 160, 43, 0.2),
  --invert-code-line-inserted: rgba(166, 227, 161, 0.2),
  --code-line-deleted: rgba(210, 15, 57, 0.2),
  --invert-code-line-deleted: rgba(243, 139, 168, 0.2),
  --code-line-border: var(colors.ctp-overlay0.DEFAULT),
  --code-line-number: var(colors.ctp-overlay0.DEFAULT),
  --tw-prose-del: var(colors.ctp-overlay0.DEFAULT),
  --tw-prose-invert-del: var(colors.ctp-overlay0.DEFAULT),
  --tw-prose-body: var(`colors.ctp-text.DEFAULT`),
  --tw-prose-headings: var(colors.ctp-text.DEFAULT),
  --tw-prose-lead: var(colors.ctp-text.DEFAULT),
  --tw-prose-links: var(`colors.ctp-mauve.DEFAULT`),
  --tw-prose-bold: var(colors.ctp-text.DEFAULT),
  --tw-prose-counters: var(colors.ctp-text.DEFAULT),
  --tw-prose-bullets: var(`colors.ctp-text.DEFAULT`),
  --tw-prose-hr: var(`colors.ctp-mauve.DEFAULT`),
  --tw-prose-quotes: var(colors.ctp-text.DEFAULT),
  --tw-prose-quotes-bg: var(colors.ctp-base.DEFAULT),
  --tw-prose-quote-borders: var(`colors.ctp-mauve.DEFAULT`),
  --tw-prose-captions: var(colors.ctp-text.DEFAULT),
  --tw-prose-code: var(colors.ctp-text.DEFAULT),
  --tw-prose-pre-code: var(colors.ctp-text.DEFAULT),
  --tw-prose-pre-bg: var(colors.ctp-base.DEFAULT),
  --tw-prose-th-borders: var(`colors.ctp-mauve.DEFAULT`),
  --tw-prose-td-borders: var(`colors.ctp-mauve.DEFAULT`),
  --tw-prose-invert-body: var(colors.ctp-text.DEFAULT),
  --tw-prose-invert-headings: var(colors.ctp-text.DEFAULT),
  --tw-prose-invert-lead: var(colors.ctp-text.DEFAULT),
  --tw-prose-invert-links: var(`colors.ctp-mauve.DEFAULT`),
  --tw-prose-invert-bold: var(colors.ctp-text.DEFAULT),
  --tw-prose-invert-counters: var(colors.ctp-text.DEFAULT),
  --tw-prose-invert-bullets: var(colors.ctp-text.DEFAULT),
  --tw-prose-invert-hr: var(colors.ctp-text.DEFAULT),
  --tw-prose-invert-quotes: var(colors.ctp-text.DEFAULT),
  --tw-prose-invert-quote-borders: var(`colors.ctp-mauve.DEFAULT`),
  --tw-prose-invert-captions: var(colors.ctp-text.DEFAULT),
  --tw-prose-invert-code: var(colors.ctp-text.DEFAULT),
  --tw-prose-invert-pre-code: var(colors.ctp-text.DEFAULT),
  --tw-prose-invert-pre-bg: var(colors.ctp-base.DEFAULT),
  --tw-prose-invert-th-borders: var(`colors.ctp-mauve.DEFAULT`),
  --tw-prose-invert-td-borders: var(`colors.ctp-mauve.DEFAULT`),
}